/* <!-- Begin: navbar --> */
#main {}

html{
    font-family: Helvetica, Arial, sans-serif;
}
#main>#navbar {
    margin-top: -1px;
}

#navbar {
    background-color: #FF6348;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
    border-color: #e7e7e7;
    /* border-radius: 20px; */

    position: fixed;
    z-index: 1;

    a,
    span {
        color: #fff !important;
    }
}

.navbar-menu {
    display: none;
    text-decoration: none;
}

.navbar-header {
    line-height: 46px;
    color: black;
    margin-left: 20px;
    display: flex;
    letter-spacing: 1px;
}

.navbar-header .navbar-qtv {
    color: #000;
    text-decoration: none;
}

#navbar .navbar-header:hover>a,
#navbar .navbar-footer li:hover>a {
    color: #ddd !important;
}

.navbar-footer li {
    display: inline-block;
    list-style-type: none;
    line-height: 46px;
    position: relative;

}

#navbar .navbar-footer li a {
    line-height: 46px;
    display: inline-block;
    padding: 0 14px;
    text-decoration: none;

}

#navbar .navbar-footer li ul a {
   color: #000 !important;

}

#navbar .subnav {
    position: absolute;
    display: none;
    margin-top: 0.5px;
    min-width: 200px;
    right: 0;
    background-color: #fff;
    border:  1px solid lightgray;
    padding: 0;
    border-radius: 5px;
}

.subnav-icon{
    margin-left: 10px;
}
#navbar .subnav li:hover,
#navbar .subnav li:hover a{
    color: #FF6348 !important;
}

#navbar li:hover .subnav {
    display: block;
}




/* <!-- End: navbar --> */

/* <!-- Begin: container --> */
#container {
    /* width: 100%; */
    display: flex;
    padding-top: 45px;
    /* border-radius: 10px; */
}

#siderBar {
    /* width: 18%; */
    /* min-height: 500px; */
    background-color: #E0E4E5;
    border-bottom: 2px solid #ddd;
    /* border-radius: 20px; */
    /* justify-content: space-between; */
    /* align-items: center;  */
}



#siderBar > li {
    list-style-type: none;
    margin: 25px 20px;
}


#siderBar li a {
    text-decoration: none;
    color: black;
}

#siderBar >li:hover >a {
    color: #FF6348;
}


.subNav-Tour {
    list-style-type: none;
    display: none;
    margin: 0px 15px;
    padding: 0;
    width: 155px;
}

.subNav-Tour li{
    margin: 10px 0px;
}
.subNav-Tour li a:hover{
    color: #FF6348 !important;
}

#siderBar li:hover .subNav-Tour{
    display: block;
}


#content {
    width: 100%;
    /* min-height: 500px; */
    border: 1px solid rgba(0, 0, 0, .125);
    min-height: 600px;
    /* border-radius: 20px; */
    /* display: flex; */
}

#content .content-img{
    width: 100%;
    height: 600px;
}

.page-item.active .page-link {
    background-color: #F79321 !important;
    border: none;
    color: #fff !important;
}
.page-link{
    color: #a2a2a2 !important;
}

/* #content .card-body{
    display: flex;
    flex-wrap: wrap;
} */

.sideBarRight {
    background-color: #E0E4E5;
    width: 30%;
    display: none;
    position: fixed; /*Thêm để giữ sidebar cố định khi hiện*/
    right: 3px;
    top: 47px;
    height: 595px;
    border-radius: 10px;
    z-index: 999;
    transition: top 0.3s ease; /* Tạo hiệu ứng mượt khi chuyển đổi */
}

.sideBarRight.active {
    top: 0; /* Khi active, sidebar sẽ xuất hiện */
}
/* <!-- End: container --> */

/* <!-- Begin Footer --> */
#footer {
    text-align: center;
    width: 100%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .125);
    /* border-radius: 20px; */
}

.footer-list {
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 7px;
}

.copyright {
    font-size: 15px;
}

.footer-list a:hover,
.copyright a:hover {
    color: #FF6348 !important;
}

/* <!-- End Footer --> */

#backTop{
    width: 50px;
    height: 50px;
    background: #FF6348;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}

.fa-solid {
    letter-spacing: 2.6px;
}

.content-all .card {
    border: 0;
}


/* <!-- Begin Content table --> */
.content-btn-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-btn{
    border: none;
    border-radius: 10px;
    height: 30px;
    
}

.content-btn-all > button:hover{
    color: #fff;
    background-color: #FF6348 !important;
    border: none;
}
/* <!-- End Content table --> */

